//styles

//all pages
.logo {
  &--icon {
    width: 40px;
    height: 40px;
  }
  &--invert {
    width: 100px;
    height: 50px;
  }
}

//index.html
.loadingSpinner {
  width: 6rem;
  height: 6rem;
}

//index.html && produit.js
.card {
  &--portrait {
    img {
      height: 220px;
    }
  }
  &--landscape {
    img {
      max-height: 400px;
      min-height: 220px;
      object-fit: cover;
    }
  }
}

//produit.js
.price {
  color: #212529;
  font-size: 2rem;
}

//panier.js
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Portrait */
@media only screen and (min-width: 375px) and (max-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .reduceQuantity,
  .increaseQuantity {
   padding-left: 0.375em;
   padding-right: 0.375em
  }
  .quantity {
    padding: 0.3em;
  }
}
